/* Always set the map height explicitly to define the size of the div
	* element that contains the map. */
#map {
	height: 100%;
}

/* Optional: Makes the sample page fill the window. */
.html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* TODO: map body fills to rest of screen, not fixed size */
.map-body {
	width: 100%;
	height:calc(100vh - 110px); /* viewport height - header height) */
}

.header {
	width: 100%;
	height: 110px;
	display: block;
	background-color: #87CEFF;
}

.inner-header {
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color:#87CEFF;
}

input[type=text] {
	background-color:#87CEFF;
	width: 500px;
	padding: 8px 0px;
	margin: 8px;
	border: none;
	box-sizing: border-box;
	border-bottom: 2px solid rgb(70, 70, 70);
	outline: none;
}

input[type=markerText] {
	background-color:#ffffff;
	width: 200px;
	padding: 6px 4px;
	margin: 8px;
	/* border: none; */
	box-sizing: border-box;
	border-bottom: 2px solid rgb(70, 70, 70);
	outline: none;
}

.searchbars-container {
	height: 100%;
	display: table;
	float: left;
}

.button-container {
	display: table;
	float: left;
}

.switchroutes-btn {
	outline: none;
	height: 56px;
	margin-top: 16%;
	margin-left: 10px;
	background-color: rgb(70, 70, 70);
	border: none;
  	color: white;
  	padding: 12px 16px;
  	font-size: 16px; 
  	cursor: pointer;
	border-radius: 12px;
}

.switchroutes-btn:hover {
	background-color: rgb(55, 55, 55);
}

.directions-btn {
	outline: none;
	height: 56px;
	margin-top: 12%;
	margin-left: 15px;
	background-color: rgb(70, 70, 70);
	border: none;
  	color: white;
  	padding: 12px 16px;
  	font-size: 16px; 
  	cursor: pointer;
	border-radius: 12px;
}

.wheelchair-checkbox {
	position: absolute;
	top: 8.6%;
	left: 56.5%;
	background-color: black;
}

.wheelchair-checkbox:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.wheelchair-checkbox-label {
	position: absolute;
	top: 8.6%;
	left: 57.7%;
}

.directions-btn:hover {
	background-color: rgb(55, 55, 55);
}


#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: "Roboto", "sans-serif";
	line-height: 30px;
	padding-left: 10px;
}

#floating-panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	width: 350px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

#latlng {
	width: 225px;
}