/* Always set the map height explicitly to define the size of the div
	* element that contains the map. */
	#map {
		height: 100%;
	}
	
	/* Optional: Makes the sample page fill the window. */
	.html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	/* TODO: map body fills to rest of screen, not fixed size */
	.map-body {
		width: 100%;
		height:calc(100vh - 110px - 50px); /* viewport height - header height - menu height) */
	}
	
	.header {
		width: 100%;
		height: 110px;
		display: block;
		background-color: #87CEFF;
	}
	
	.inner-header {
		width: 1000px;
		height: 100%;
		display: block;
		margin: 0 auto;
		background-color:#87CEFF;
	}

	.suggestions-start {
		/* border-top: 2px solid #999; */
		/* display: none; */
		position: absolute;
		padding-left: 5.5%;
		width: 26.2%;
		z-index: 1;
	}

	.suggestions-start > div {
		padding: 15px;
		font-size: 20px;
		color: white;
		background-color: rgb(70, 70, 70);
		border-top: 1px solid #666;
		cursor: pointer;
	}

	.suggestions-start > div:hover {
		background-color: rgb(121, 121, 121);
	}

	.suggestions-end {
		/* border-top: 2px solid #999; */
		/* display: none; */
		position: absolute;
		padding-left: 5.5%;
		width: 26.2%;
		z-index: 1;
	}

	.suggestions-end > div {
		padding: 15px;
		font-size: 20px;
		color: white;
		background-color: rgb(70, 70, 70);
		border-top: 1px solid #666;
		cursor: pointer;
	}

	.suggestions-end > div:hover {
		background-color: rgb(207, 207, 207);
	}
	
	input[type=text] {
		background-color:#87CEFF;
		width: 500px;
		padding: 8px 0px;
		margin: 8px;
		border: none;
		box-sizing: border-box;
		border-bottom: 2px solid rgb(70, 70, 70);
		outline: none;
	}
	
	input[type=markerText] {
		background-color:#ffffff;
		width: 200px;
		padding: 6px 4px;
		margin: 8px;
		/* border: none; */
		box-sizing: border-box;
		border-bottom: 2px solid rgb(70, 70, 70);
		outline: none;
	}

	/* input box in infowindow*/
	input[type="text"].input-save {
		background-color:#dce1e4;
		width: 130px;
		padding: 4px 0px;
		margin: 8px;
		border: none;
		box-sizing: border-box;
		border-bottom: 2px solid rgb(70, 70, 70);
		outline: none;
	}

	/* space btw buttons in infowindow*/
	.divider{
		width:10px;
		height:auto;
		display:inline-block;
	}
	
	.searchbars-container {
		height: 100%;
		display: table;
		float: left;
	}
	
	#set-start-btn {
		width: 100px;
		height: 30px;
		margin-top: 5px;
		outline: none;
		border: 2px solid #007018;
		border-radius: 12px;
		background-color: #009b22;
		color: white;
		font-weight: 600;
		font-size: 18px;
		padding-top: 2px;
	}
	
	#set-start-btn:active {
		background-color: #00d32e;
	}
	
	#set-end-btn {
		width: 100px;
		height: 30px;
		margin-top: 5px;
		outline: none;
		border: 2px solid #d84444;
		border-radius: 12px;
		background-color: #b83a3a;
		color: white;
		font-weight: 600;
		font-size: 18px;
		padding-top: 2px;
	}
	
	#set-end-btn:active {
		background-color: #fc6161;
	}
	
	.button-container {
		display: table;
		float: left;
	}
	
	.switchroutes-btn {
		outline: none;
		height: 56px;
		margin-top: 16%;
		margin-left: 10px;
		background-color: rgb(70, 70, 70);
		border: none;
		  color: white;
		  padding: 12px 16px;
		  font-size: 16px; 
		  cursor: pointer;
		border-radius: 12px;
	}
	
	.switchroutes-btn:hover {
		background-color: rgb(55, 55, 55);
	}
	
	.directions-btn {
		outline: none;
		height: 56px;
		margin-top: 12%;
		margin-left: 15px;
		background-color: rgb(70, 70, 70);
		border: none;
		  color: white;
		  padding: 12px 16px;
		  font-size: 16px; 
		  cursor: pointer;
		border-radius: 12px;
	}
	
	.wheelchair-checkbox {
		position: absolute;
		top: 12.6%;
		left: 57.5%;
		background-color: black;
	}
	
	.wheelchair-checkbox:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.wheelchair-checkbox-label {
		position: absolute;
		top: 12.6%;
		left: 59.7%;
	}
	
	.directions-btn:hover {
		background-color: rgb(55, 55, 55);
	}
	
	
	#floating-panel {
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: "Roboto", "sans-serif";
		line-height: 30px;
		padding-left: 10px;
	}
	
	#floating-panel {
		position: absolute;
		top: 5px;
		left: 50%;
		margin-left: -180px;
		width: 350px;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
	}
	
	#latlng {
		width: 225px;
	}

/* Side Navigation Bar */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }

  .sidenav a:hover {
	color:brown;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  .sidenav header {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 30px;
	font-weight: bolder;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
  }

  .sidenav h1 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 35px;
	color:greenyellow;
	display: block;
	transition: 0.3s;
  }
  .sidenav h3 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color:yellow;
	display: block;
	transition: 0.3s;
  }
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }